html {
  background: url(../images/UnitedStatesFlag.svg.png) no-repeat center center fixed;
  background-size: cover; }

html:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.4); }

body {
  background: rgba(255, 255, 255, 0); }

ul {
  padding-left: 0; }
  ul li {
    list-style: none;
    position: relative; }

/* starting state of animation */
.drop-in-enter {
  top: -600px; }

.slide-from-left-enter {
  right: 400px; }

.slide-from-right-enter {
  left: 400px; }

/* ending state of animation */
.drop-in-enter-active {
  top: 0px;
  transition: 0.5s ease-in; }

.slide-from-left-enter-active {
  right: 0px;
  transition: 0.5s ease-in all; }

.slide-from-right-enter-active {
  left: 0px;
  transition: 0.5s ease-in all; }

/* end of transitions */
.centered {
  text-align: center; }

.hide {
  display: none; }

.selected {
  border: 0.5em solid white; }

.correct {
  border: 0.5em solid green; }

.right {
  background: rgba(0, 150, 0, 0.6);
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-bottom: 0.25em; }

.incorrect {
  border: 0.5em solid red; }

.wrong {
  background: rgba(255, 0, 0, 0.6);
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-bottom: 0.25em; }

.game-title {
  text-align: center; }

.game-instructions {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  border-radius: 4px;
  margin: 2em;
  margin-top: 5em;
  padding: 2em; }
  .game-instructions ul {
    margin: 0 auto;
    width: 50%; }
    .game-instructions ul li {
      margin-bottom: 0.5em; }

.answer-choice {
  margin-top: 1em; }
  .answer-choice img {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.67);
    cursor: pointer;
    height: auto;
    max-width: 100%; }
    .answer-choice img:hover {
      box-shadow: 0px 0px 30px 0px rgba(250, 250, 250, 0.67); }

.flag {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.67);
  height: auto;
  margin-bottom: 15em;
  max-width: 100%;
  position: relative; }

.game-layout {
  margin-bottom: -10%; }
  .game-layout > li {
    display: inline-block;
    margin-right: 2.5%;
    width: 25%; }
    .game-layout > li:nth-child(even) {
      width: 45%; }
    .game-layout > li:last-child {
      margin-right: 0%; }

.game-progression {
  text-align: center;
  margin-bottom: 1em; }
  .game-progression li {
    display: inline-block;
    margin-right: 1em; }
    .game-progression li:last-child {
      margin-right: 0; }
    .game-progression li button {
      width: 7em; }

.game-questions-remaining li {
  display: inline-block;
  margin-right: 1.5em; }
  .game-questions-remaining li:last-child {
    margin-right: 0; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.game-type {
  text-align: center; }
  .game-type li {
    display: inline-block;
    margin-right: 1em; }
    .game-type li:last-child {
      margin-right: 0; }

.results-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em; }
  .results-row li {
    display: inline-block; }
    .results-row li .results-flag {
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.67);
      min-height: 100px;
      min-width: 150px;
      max-height: 200px;
      max-width: 300px; }

.maps li img {
  position: relative; }

.maps li span {
  bottom: 0px;
  position: absolute;
  right: 2px; }

.maps li:last-child {
  margin-right: 1em;
  margin-left: 1em; }

.maps .results-map {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.67);
  min-height: 75px;
  min-width: 125px;
  max-height: 150px;
  max-width: 250px; }

.game-again {
  height: 2em; }
  .game-again li {
    display: inline-block;
    margin-right: 1em; }
    .game-again li:last-child {
      margin-right: 0em; }
      .game-again li:last-child:hover {
        color: lightblue; }
