html {
  background: url(../images/UnitedStatesFlag.svg.png) no-repeat center center fixed;
  background-size: cover; }

body {
  background: rgba(255, 255, 255, 0.1); }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

.centered {
  text-align: center; }

.game-title {
  text-align: center; }

.answer-choice {
  margin-top: 1em; }
  .answer-choice img {
    height: 50%;
    width: 70%; }

.left-column {
  float: left;
  width: 25%; }

.center-column {
  float: left;
  width: 50%; }
  .center-column .flag {
    height: 60%;
    margin: 30% auto;
    width: 80%; }

.right-column {
  float: right;
  width: 25%; }

.game-progression {
  text-align: center; }
  .game-progression li {
    display: inline-block;
    margin-right: 1em; }
    .game-progression li:last-child {
      margin-right: 0; }
    .game-progression li button {
      width: 7em; }

.game-type {
  text-align: center; }
  .game-type li {
    display: inline-block;
    margin-right: 1em; }
    .game-type li:last-child {
      margin-right: 0; }

.selected {
  border: 0.5em solid white; }

.correct {
  border: 0.5em solid green; }

.incorrect {
  border: 0.5em solid red; }
